{% extends 'tasks/base.html' %}
{% block title %}爬虫练习{% endblock %}

{% block content %}
    {% load static %}

    <div class="container-fluid">
        <div class="row lab-row">
            <br />
            <div class="col-lg-3 col-md-3 col-sm-2"></div>
            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                <div class="lab-block">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="font-size: 22px; display: flex; justify-content: space-between;">
                            <span>Python 入门指南</span>
                            <a href="{% url 'tasks:tutorial_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span>新增文章</a>
                        </div>
                        <ul class="list-group">
                            {% for item in items %}
                                <li class="list-group-item">
                                    <a href="{% url 'tasks:tutorial_one' item.id %}">
                                        <span class="text-center" style="font-size: 18px;">{{ item.index }}. {{ item.title }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-2"></div>
        </div>
    </div>

{% endblock %}